<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    
    <!-- Pass Node.js API JSON errors strictly back to the browser -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Node handler -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="File" />
    </handlers>

    <!-- URL Rewrite -->
    <rewrite>
      <rules>

        <!-- Serve static files directly -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- All other requests go to Node -->
        <rule name="NodeJS">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>

      </rules>
    </rewrite>

    <!-- iisnode settings -->
    <iisnode node_env="production" loggingEnabled="true" devErrorsEnabled="true" flushResponse="true" />

    <!-- Allow large requests -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
            <authentication>
                <windowsAuthentication enabled="false" />
            </authentication>
    </security>

  </system.webServer>

</configuration>